@import url(http://fonts.googleapis.com/css?family=Lato|Source+Code+Pro|Libre+Baskerville:400,700,400italic);

body {
  color: #444;
  padding: 60px;
  line-height: 1.5;

  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: 'Libre Baskerville', sans-serif;
  font-weight: normal;
}

p {
}

.container {
  position: relative;
  top: 0;
  padding-left: 0;
  margin-right: 20px;

  position: relative;
  top: 0;
}

li {
  line-height: 200%;
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
  color: #444488;
  font-weight: normal;
  margin-top: 44px;
}

blockquote {
  font-family: 'Sorts Mill Goudy', serif;
  font-weight: normal;
  font-style: italic;
  font-size: 18px;
}

.left-aside {
  position: relative;
  width: 200px;
  padding-right: 0px;
  height: 0px;
  overflow: visible;

  margin-top: 40px;
  margin-left: -240px;
  margin-bottom: -12px;

  text-align: right;
  margin-right: 60px;
}

img {
  max-width: 100%;
}

.remark-code, .remark-inline-code { font-family: 'Source Code Pro', monospace; }

/* And now let's override the remark css to produce plain print */

.remark-container {
  overflow: scroll;
}

.remark-slide-scaler {

}

.remark-slides-area {

}

.slides-only, .so {
  display: none;
}

.notes-only, .no {
  margin-top: 20px;
}

table > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
table > thead > tr > th {
  text-align: left;
  padding: 8px;
}
table > tbody > tr > td {
  padding: 8px;
}
